.App {
  font-family: sans-serif;
}
.container {
  display: flex;
  align-items: center;
}
.bubble {
  color: #fff;
  font-weight: bold;
  background-color: red;
  padding: 6px 12px;
  border-radius: 32px;
  margin-right: 12px;
}
.btn {
  margin-right: 12px;
}
